.button {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

.button:disabled {
  background-color: var(--color-primary-muted);
  color: var(--color-primary);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    filter: drop-shadow(4px 8px 16px rgb(255, 102, 51, 0.2));
    cursor: pointer;
  }
}
