.registr-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
}

.registr-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: var(--color-primary-muted) 5px solid;
}

.title {
  color: var(--color-surface-text);
  font: var(--text-header-s);
  align-self: center;
}

.title-address,
.title-customer,
.title-question {
  color: var(--color-surface-text);
  font: var(--text-header-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shipping-title {
  font: var(--text-header-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registr-box {
  gap: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border: 1px var(--color-light) solid;
  border-radius: 4px;
  gap: 20px;
}

.main-data-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: var(--color-primary-muted);
  padding: 5px;
  border-radius: 4px;
}

.customer-box,
.email-password-box,
.name-birth-box,
.shipping-address-box {
  padding: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.billing-address-box {
  height: auto;
  display: flex;
  flex-direction: column;
}

.email-field,
.password-field,
.name-field,
.lastname-field,
.date-birth-field,
.street-field,
.city-field,
.postalCode-field,
.country-field {
  display: flex;
  flex-direction: column;
}

input:disabled,
select:disabled {
  cursor: default;
  background: var(--color-disable);
}

.email,
.password,
.name,
.lastname,
.date-birth,
.street,
.city,
.postalCode,
.country {
  color: var(--color-surface-text);
  font: var(--text-l);
  max-width: 280px;
}

.email-label,
.password-label,
.name-label,
.lastname-label,
.date-birth-label,
.street-label,
.city-label,
.postalCode-label,
.country-label {
  color: var(--color-hard);
  font: var(--text-l);
  max-width: 300px;
}

.email-error,
.password-error,
.name-error,
.lastname-error,
.date-birth-error,
.street-error,
.city-error,
.postalCode-error,
.country-error {
  color: var(--color-error);
  font: var(--text-s);
  max-width: 280px;
}

.wrapper-password {
  position: relative;
}

.eye {
  background: url('@assets/images/eye-off.png') no-repeat center / contain;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.eye[type='on'] {
  background: url('@assets/images/eye.png') no-repeat center / contain;
}

.login-text-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.checkbox-wrapper {
  margin-top: 13px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--color-primary-muted);
}

.title-checkbox {
  color: var(--color-surface-text);
  font: var(--text-header);
}

.checkbox {
  width: 15px;
  height: 15px;
}

input[type='checkbox'] {
  accent-color: var(--color-primary);
}
.second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.billing-address-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .address-box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 710px) {
  .registr-page {
    align-items: normal;
  }

  .registr-form {
    width: auto;
    box-sizing: border-box;
    margin: 0 20px;
  }

  .address-box,
  .main-data-box {
    flex-direction: column;
    align-items: center;
  }

  .email-error,
  .password-error,
  .name-error,
  .lastname-error,
  .date-birth-error,
  .street-error,
  .city-error,
  .postalCode-error,
  .country-error {
    width: 100%;
    max-width: none;
  }

  .second-column {
    width: 100%;
  }

  .email,
  .password,
  .name,
  .lastname,
  .date-birth,
  .street,
  .city,
  .postalCode,
  .country {
    max-width: none;
    width: 100%;
  }

  .customer-box,
  .email-password-box,
  .name-birth-box,
  .shipping-address-box,
  .billing-address-box {
    max-width: none;
    width: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .checkbox:hover {
    cursor: pointer;
  }
}
