.products-block {
  display: grid;

  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  padding: 20px;
}

.wrapper-product-img {
  overflow: hidden;
  margin: 0 auto;
}

.product-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.wrapper-price {
  display: flex;
  flex-direction: column;
}

.price,
.total-value {
  font: var(--text-s);
}

.discount {
  font: var(--text-bold-s);
}

.wrapper-price:has(.discount) .price {
  color: var(--color-hard);
  text-decoration: line-through;
}
