.products-block {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  padding: 20px;
}

.wrapper-product-img {
  overflow: hidden;
  margin: 0 auto;
}

.product-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
