.address-data {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px;
  box-sizing: border-box;
  background: var(--color-lightest);
}

.address-box {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  padding: 0px;
}
