.profile-data {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px;
  box-sizing: border-box;
}

.name,
.last-name,
.date-birth,
.email,
.password {
  width: 100%;
}

.profile-name,
.profile-last-name,
.profile-date-birth,
.profile-email,
.profile-password {
  width: 100%;
  color: var(--color-surface-text);
  font: var(--text-header-xs);
}

.customer-box {
  display: flex;
  flex-direction: column;
}

.edit,
.cancel {
  width: 100px;
  height: 40px;
  margin: 10px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-buttons {
  display: flex;
  gap: 5px;
  align-self: flex-end;
}
