.breadcrumb-block {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: black;
  padding: 10px 10px;
}

.sepearator {
  font: var(--text-s);
}

.breadcrumb {
  font: var(--text-header-m);
  color: var(--color-additional-yellow);
  text-underline-offset: 5px;
}

.breadcrumb:hover {
  color: var(--color-primary);
}
