.promo-block {
  display: flex;
  gap: 5px;
  max-width: 50%;
}

.input-promo {
  text-transform: uppercase;
}

.button-submit-promo,
.button-remove-promo {
  font: var(--text-s);
}

@media (max-width: 600px) {
  .promo-block {
    width: 100%;
    max-width: 100%;
  }
}
