.product-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-surface);
  color: var(--color-surface-text);
  border: 1px solid var(--color-light);
  border-radius: 10px;
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));

  width: 300px;
  height: 400px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  overflow: hidden;
}

.wrapper-product-img {
  height: 230px;
  overflow: hidden;
  margin: 0 auto;
}

.product-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-card .product-img {
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-img {
  transform: scale(1.1);
}

.product-card:hover {
  transform: translate(5px, -10px);
  box-shadow: -10px 10px 20px 3px rgba(0, 0, 0, 0.3);
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
  overflow: hidden;
}

.product-price {
  font: var(--text-bold-m);
}

.product-discount {
  font: var(--text-bold-m);
}

.product-info:has(.product-discount) .product-price {
  font: var(--text-bold-s);
  color: var(--color-hard);
  text-decoration: line-through;
}

.product-title {
  font: var(--text-m);
  color: var(--color-secondary);
}

.wrapper-attributes {
  display: flex;
  gap: 10px;
}

.product-color {
  background-color: var(--color);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-light);
  filter: drop-shadow(-4px 4px 4px rgb(0, 0, 0, 0.25));
}

.wrapper-price {
  display: flex;
  flex-direction: column;
}

.product-price {
  font: var(--text-bold-m);
}

.product-discount {
  font: var(--text-bold-m);
}

.product-info:has(.product-discount) .product-price {
  font: var(--text-bold-s);
  color: var(--color-hard);
  text-decoration: line-through;
}

.product-description {
  font: var(--text-s);
  overflow: hidden;
  flex: 1;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.button-buy {
  width: 150px;
}

.product-description:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(180deg, transparent, var(--color-surface) 50%);
  z-index: 2;
}
