.filter-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font: var(--text-s);
  background: rgb(0 0 0 / 57%);
  color: rgba(255, 252, 186, 0.774);
  border-radius: 10px;
}

.title-filter {
  font: var(--text-bold-m);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper-size1,
.wrapper-size2,
.wrapper-size3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
}

.wrapper-price-start,
.wrapper-price-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-end-input,
.price-start-input {
  font: var(--text-s);
  width: 100%;
}

.wrapper-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  padding: 0px 50px;
}

.submit {
  align-self: center;
  width: 100px;
}

.button-clear {
  max-width: 150px;
  font: var(--text-m);
  width: 100px;
}

.sizes {
  width: 20px;
}

label {
  font: normal;
}
