.footer {
  background: var(--color-surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--color-additional) 3px solid;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.wrapper-author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 90px;
  height: 8vh;
}

.year {
  font: var(--text-bold-l);
}

.link-rs {
  width: 50px;
}

.link-rs:hover {
  transform: scale(1.2);
}

.link-footer {
  font: var(--text-header-xs);
}
